body{
    background-color: #f2e9e4;
    cursor: default;
}
.container{
    display: grid;
    justify-content: center;
}

.knowledge-base{
    width: 200px;
    height: 44px;
    font-family: 'Play', sans-serif;
    font-size: 28px;
    color: #4a4e69;
    border: 2px solid #4a4e69;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
    margin: 20px 0 0 0;
}

.knowledge-base:hover{
    color: #f2e9e4;
    border: 2px solid #4a4e69;
    background-color: #4a4e69;
    cursor: pointer;
}

@media (max-width: 400px) {
    .card{
        width: 240px;
    }

    .subtitle > p{
        margin: 0 40px 6px 40px;
    }
}
